<p id="notice"><%= notice %></p>

<h1>Rec Sizes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rec_sizes.each do |rec_size| %>
      <tr>
        <td><%= link_to 'Show', rec_size %></td>
        <td><%= link_to 'Edit', edit_rec_size_path(rec_size) %></td>
        <td><%= link_to 'Destroy', rec_size, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rec Size', new_rec_size_path %>
